code {
    border-radius: 6px;
    color: #fff;
    display: block;
    font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
    padding: 15px 15px;
    text-align: center;
  }
  header,
  section,
  article,
  aside,
  footer {
    margin: 0 1.5% 24px 1.5%;
    padding: 0% .5% 2% .5%;
  }
  section {
    float: right;
    width: 45%;
    height: 183px;
    border:#333 1px solid;
  }

  article{
    width:45%;
    height:420px;
    border:#333 1px solid;
  }
  footer {
    clear: both;
    margin-bottom: 0;
  }
  /* Style the footer */
  footer {
      background-color: #333;
      color: #fff;
      text-align: center;
      padding: 10px;
  }
  /**/
  body{
    background: linear-gradient(90deg, #9c27b0, #673ab7);
  }
  
  
      *{
          color: black;
          font-family: 'Tahoma', Geneva, Verdana, sans-serif;
      }
      .text{
          font-family: 'Courier New', Courier, monospace;
          white-space: nowrap;
      }